/*** Table Styles **/

.table-fill {
  background: white;
  border-collapse: collapse;
  height: 200px;
  margin: auto;
  max-width:1000px;
  padding:5px;
  width: 100%;
  animation: float 5s infinite;
}
 
th {
  color:#fff;
  background:#CFD8DC;
  font-size:23px;
  font-weight: 100;
  padding:10px;
  text-align:left;
  vertical-align:middle;
}


 
th:last-child {
  border-right:none;
}
  
tr {
  border-top: 1px solid #C1C3D1;
  border-bottom: 1px solid #C1C3D1;
  color:#666B85;
  font-size:16px;
  font-weight:normal;
}
 
tr:first-child {
  border-top:none;
}

tr:last-child {
  border-bottom:none;
}
 
tr:nth-child(odd) td {
  background:#EBEBEB;
}
 


tr:last-child td:first-child {
  border-bottom-left-radius:3px;
}
 
tr:last-child td:last-child {
  border-bottom-right-radius:3px;
}
 
td {
  background:#E3F2FD;
  padding:20px;
  text-align:left;
  vertical-align:middle;
  font-weight:300;
  font-size:18px;
  border-right: 1px solid #C1C3D1;
}

td:last-child {
  border-right: 0px;
}

th.text-left {
  text-align: left;
}

th.text-center {
  text-align: center;
}

th.text-right {
  text-align: right;
}

td.text-left {
  text-align: left;
}

td.text-center {
  text-align: center;
}

td.text-right {
  text-align: right;
}