button{
  text-decoration: none;
}
.ff_btn {
  border: 0 none;

  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: Arial,sans-serif;
  font-size: 1em;
  line-height: 20px;
  margin-bottom: 0;
  margin-top: 10px;
  padding: 10px 30px;
  text-transform: none;
  transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  text-align: center;
}
.btn_red{background:#F44336}
.btn_blue{background:#2196F3}

.btn_large {
  font-size: 20px;
  padding: 12px 50px;
  line-height: 40px;
}
.btn_medium {
  font-size: 16px;
  padding: 10px 30px;
  line-height: 30px;
}

.btn_red:hover{background:#C62828}
.btn_blue:hover{background:#1565C0}