	input[type="text"],input[type="password"] {
	  display: block;
	  margin: 0;
	  width: 100%;
	  font-family: sans-serif;
	  font-size: 18px;
	  appearance: none;
	  box-shadow: none;
	  border-radius: none;
	}
	input[type="text"],input[type="password"]:focus {
	  outline: none;
	}
   
	input[type="text"],input[type="password"] {
	  padding: 10px;
	  border: solid 1px #dcdcdc;
	  transition: box-shadow 0.3s, border 0.3s;
	}
