body {
  background: #607D8B; /* 500*/
  color: #505050;
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.8; }
  
/* =Nav
-------------------------------------------------------------- */
#nav-trigger {
  display: none;
  text-align: center; 
  } 
  
  .span {
    /*display: inline-block;*/
    padding: 10px 30px;
    background: #2196F3;
    color: white;
    text-transform: uppercase; 
	cursor:pointer;
	}
	
    /*#nav-trigger span:after {
      display: inline-block;
      margin-left: 10px;
      width: 20px;
      height: 10px;
      content: "";
      border-left: solid 10px transparent;
      border-top: solid 10px #fff;
      border-right: solid 10px transparent; }*/
	  
	  .span:hover {
      background-color: #0D47A1; }
	  
    /*#nav-trigger span.open:after {
      border-left: solid 10px transparent;
      border-top: none;
      border-bottom: solid 10px #fff;
      border-right: solid 10px transparent; }*/
	  
	  
/* NAV MAIN */	  

nav#nav-main {
  background-color: #90A4AE; /* 300 AQUI!*/
  padding: 10px 0; 
  margin-bottom: 30px;
  }
  nav#nav-main ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center; }
  nav#nav-main li {
    display: inline-block;
    border-right: solid 1px #90A4AE; /* 300 AQUI!*/
    padding: 0 5px; }
    nav#nav-main li:last-child {
      border-right: none; }
	  
	  
  nav#nav-main a {
    display: block;
    color: white;
    padding: 10px 30px; }
    nav#nav-main a:hover {
      background-color: #455A64; /* 700 */
      color: #fff; }
/* NAV MAIN */
	  
/* NAV MOBILE */
nav#nav-mobile {
  /*position: relative;
  display: none; */
  display: none;
  }
nav#nav-mobile ul {
    display: none;
    list-style-type: none;
    /*position: absolute;*/
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: #42A5F5; }
nav#nav-mobile li {
    display: block;
    padding: 5px 0;
    margin: 0 5px;
    border-bottom: solid 1px #42A5F5; }
nav#nav-mobile li:last-child {
      border-bottom: none; }
nav#nav-mobile a {
    display: block;
    color: white;
    padding: 10px 30px; }
nav#nav-mobile a:hover {
      background-color: #2196F3;
      color: #fff; }
/* NAV MOBILE */
	  
	  
	  .open{
		display : block;
	  }
	  
#presentacion-telefono{
	display:none;		
}
	
#presentacion-escritorio{
	display:block;		
}
	

/* =Sections
-------------------------------------------------------------- */
section h1 {
  margin-bottom: 10px; }

section p {
  margin-bottom: 30px; }
  section p:last-child {
    margin-bottom: 0; }

/* =Media Queries
-------------------------------------------------------------- */
@media all and (max-width: 900px) {
	#nav-trigger {
    display: block;
	}

	nav#nav-main {
    display: none; }

	nav#nav-mobile {
    display: block;
	/*visibility: visible;*/
	} 
	nav#nav-mobile ul {
    display: none;
	}
	
	#presentacion-telefono{
		display:block;		
	}
	
	#presentacion-escritorio{
		display:none;		
	}
	
}


/*
BOTONES
*/
.botton-primario {
    /*display: inline-block;*/
    padding: 10px 30px;
    background: #2196F3;
    color: white;
    text-transform: uppercase; 
	cursor:pointer;
	text-align:center;
}
.botton-primario:hover {
    background-color: #0D47A1; 
}
/*
BOTONES
*/
