.prettydropdown {
  position: relative;
  min-width: 72px; /* 70px + borders */
  display: inline-block;
}
.prettydropdown.loading {
  min-width: 0;
}
.prettydropdown > ul {
  position: absolute;
  top: 0;
  left: 0;
  background: #fff;
  border: 1px solid #a9a9a9;
  color: #000;
  cursor: pointer;
  font: normal 18px Calibri, sans-serif;
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: left;
  -webkit-user-select: none; /* Chrome all / Safari all */
  -moz-user-select: none; /* Firefox all */
  -ms-user-select: none; /* IE 10+ */
  user-select: none; /* Likely future */
  z-index: 1;
}
.prettydropdown.loading > ul {
  visibility: hidden;
  white-space: nowrap;
}
.prettydropdown:hover > ul {
  border-color: #7f7f7f;
}
.prettydropdown > ul.active {
  width: auto;
  max-height: none !important;
  border-color: #1e90ff;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 2;
}
.prettydropdown > ul.active.reverse {
  top: auto;
  bottom: 0;
}
.prettydropdown > ul > li {
  position: relative;
  min-width: 70px;
  height: 48px; /* 50px - borders */
  box-sizing: border-box;
  display: none;
  line-height: 48px; /* 50px - borders */
  margin: 0;
  padding-left: 0.8rem;
}
.prettydropdown.loading > ul > li {
  min-width: 0;
  display: block;
  padding-right: 0.8rem;
}
.prettydropdown > ul > li:first-child, .prettydropdown > ul.active > li {
  display: block;
}
.prettydropdown > ul.active > li:hover, .prettydropdown > ul.active > li:first-child:hover:after {
  background: #1e90ff;
  color: #fff;
}
.prettydropdown.arrow > ul > li.selected:before, .prettydropdown.arrow > ul > li.selected:after {
  position: absolute;
  top: 8px;
  bottom: 0;
  right: 0.8rem;
  height: 16px;
  border: 8px solid transparent; /* Arrow size */
  box-sizing: border-box;
  content: '';
  display: block;
  margin: auto;
}
.prettydropdown.arrow.small > ul > li.selected:before, .prettydropdown.arrow.small > ul > li.selected:after {
  top: 4px;
  height: 8px;
  border-width: 4px;
}
.prettydropdown.arrow > ul > li.selected:before {
  border-top-color: #a9a9a9; /* Arrow color */
}
.prettydropdown.arrow > ul > li.selected:after {
  top: 4px; /* Chevron thickness */
  border-top-color: #fff; /* Match background colour */
}
.prettydropdown.arrow.small > ul > li.selected:after {
  top: 2px; /* Chevron thickness */
}
.prettydropdown.arrow.triangle > ul > li.selected:after {
  content: none;
}
.prettydropdown:hover > ul > li.selected:before {
  border-top-color: #7f7f7f;
}
.prettydropdown > ul.active > li.selected:before {
  border-top-color: #1e90ff;
}
.prettydropdown > ul.active > li.selected:hover:before {
  border-top-color: #fff;
}
.prettydropdown > ul.active > li.selected:hover:after {
  background: none;
  border-top-color: #1e90ff;
}
